/*root é usado para declarar variáveis e seus valores, 
para uma maior clareza no código*/
:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter'
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400px;
}

.container {
    height: 100vh; /*Usado para que a imagem ocupe toda a sua altura*/
    display: grid;
    grid-template-columns: 50% 50%;
}

.principal {
    background-image: url('img/background.png'); /*Usado quando a imagem não tem função prática, só decorativa*/
    background-repeat: no-repeat; /*Define se a imagem se repetirá ou não*/
    background-size: contain; /*Faz a imagem de fundo preencher o container*/
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: white;
    display: block;
    margin: 12px;
    text-decoration: none;
}

.botao_secundario {
    background-color: transparent;
    border: 1.5px solid var(--cinza-secundario);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700px;
    color: var(--branco-principal);
}